<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cursorloader">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Cursor.MainActivity"
            android:parentActivityName=".Main2Activity" />
        <activity
            android:name=".Cursor.PresidentDetails"
            android:parentActivityName=".Cursor.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Cursor.MainActivity" />
        </activity>

        <provider
            android:name=".Cursor.PresidentContentProvider"
            android:authorities="com.android.presidents"
            android:exported="false" />

        <activity android:name=".extra.ListAll" />
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Room.RoomActivity" />
        <activity android:name=".Room.PresidentDetailsRoom" />
        <activity android:name=".ViewModel.ViewModelActivity" />
        <activity android:name=".ViewModel.PresidentAdd" />
        <activity android:name=".ViewModel.PresidentUpdate" />
        <activity android:name=".web.JsonActivity" />
        <activity android:name=".web.JSONDetails"></activity>

        <service android:name="com.example.cursorloader.web.JsonService" >
        </service>
    </application>

</manifest>